<h4><font color = red>Question 1:</font></h4>

<p><font color = green>Explanation:

The value 6 is displayed when the last expression (a) is executed.

1. First b() call:
The function b() is called and a is made the global varuable. Then a=c(a) is executed, where function c(a) is called with value of a=0.
c(a) returns a + 2 i.e., 0 + 2 = 2 and a is updated to 2.
After the first call to b(), the value of a is updated to 2. 

2. Second b() call:
The function b() is called and a=c(a) is executed, where function c(a) is called with value of a=2.
c(a) returns a + 2 i.e., 2 + 2 = 4 and a is updated to 4.
After the second call to b(), the value of a is updated to 4. 

3. Third b() call:
The function b() is called and a=c(a) is executed, where function c(a) is called with value of a=4.
c(a) returns a + 2 i.e., 4 + 2 = 6 and a is updated to 6.
After the second call to b(), the value of a is updated to 6. 

4. Value of a:
When a is executed, it displays the final value of a which is 6. </font></p>

In [9]:
a = 0 
def  b(): 
    global  a 
    a  = c(a) 
 
def  c(a): 
    return  a  +  2 
b()
b()
b()
a

6

<h4><font color = red>Question 2:</font></h4>
<p><font color = red>Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead</font></p>

In [11]:
def fileLength(filename):
    try:
        file = open(filename)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File "+filename+ " not found")

fileLength('midterm.py')
fileLength('idterm.py')

123
File idterm.py not found

<h4><font color = red>Question 3:</font></h4>
<p><font color = red>Write a class named Marsupial that can be used as shown below: 
>>>  m  =  Marsupial() 
>>>  m.put_in_pouch('doll') 
>>>  m.put_in_pouch('firetruck') 
>>>  m.put_in_pouch('kitten') 
>>>  m.pouch_contents()  
['doll',  'firetruck',  'kitten']
 </font></p>

In [11]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

m  =  Marsupial() 
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
m.pouch_contents()

['doll', 'firetruck', 'kitten']

<p><font color = red>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also: 
a. extends the Marsupial  __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object, 
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the y- 
axis, and 
c. overloads the __str__ operator so it behaves as shown below. </font></p>

In [13]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
k  =  Kangaroo(0,0) 
print(k)
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()  
k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

<h4><font color = red>Question 4:</font></h4>
<p><font color = red>Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
 
x = {  𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 
+ 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.</font></p>

In [14]:
def collatz(x):
    print(x)
    
    if x == 1:
        return
    
    if x % 2 == 0:
        collatz(x // 2)  
    else:
        collatz(3 * x + 1)  
        
collatz(10)

10
5
16
8
4
2
1

<h4><font color = red>Question 5:</font></h4>
<p><font color = red>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</font></p>

In [19]:
def binary(n):
    
    if n < 2:
        print(n, end='')  
    
    else:
        binary(n // 2)
        print(n % 2, end='')  
        
binary(0)
#binary(1)
#inary(3)
#binary(9)

0

<h4><font color = red>Question 6:</font></h4>
<p><font color = red>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html. </font></p>

In [40]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_heading = None
       
    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading and store in heading level
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_heading = int(tag[1])  

    def handle_endtag(self, tag):
        # Reset current heading when end of heading tag is reached
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_heading = None

    def handle_data(self, data):
        # Print heading with indentation
        if self.current_heading:
            indentation = ' ' * (self.current_heading - 1)  
            print(indentation,data.strip())

with open('C:\\Users\\harin\\Desktop\\Shamili-Assignments\\DAP\\ProblemSet-2\\w3c.html', 'r') as file:
    content = file.read()

parser = HeadingParser()
parser.feed(content)

 W3C Mission
  Principles

<h4><font color = red>Question 7:</font></h4>
<p><font color = red>Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.</font></p>

In [7]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    print(" " * indent + url)

    if depth == 0:
        return
    
    try:
        # Get the contents of the URL
        response = requests.get(url)
        response.raise_for_status()  
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find all the links 
        for link in soup.find_all('a', href=True):
            # Get the URL for each link
            new_url = urljoin(url, link['href'])
            
            webdir(new_url, depth - 1, indent + 1)

    except requests.exceptions.RequestException as e:
        print(" " * indent + "Failed to access",url)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' ,  2,  0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Failed to access http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

<h4><font color = red>Question 8:</font></h4>
<p><font color = red>Write SQL queries on the below database table that return: </font></p>

In [81]:
import sqlite3
con = sqlite3.connect('Weather.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Weather (City, Country, Season , Temperature, Rainfall)")
data = [
    ('Mumbai' , 'India', 'Winter', 24.8, 5.9),
    ('Mumbai' , 'India', 'Spring', 28.4, 16.2),
    ('Mumbai' , 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai' , 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
    ]
cur.executemany("INSERT INTO Weather (City,Country,Season ,Temperature,Rainfall) VALUES (?, ?, ?, ?, ?)", data)

con.commit()

<p><font color = red>a. All the temperature data. </font></p>

In [82]:
cur.execute("SELECT Temperature FROM Weather;")
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

<p><font color = red>b. All the cities, but without repetition. </font></p>

In [83]:
cur.execute(" SELECT DISTINCT City FROM Weather ;")
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

<p><font color = red>c. All the records for India.</font></p>

In [84]:
cur.execute("SELECT * FROM Weather WHERE Country = 'India';")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

<p><font color = red>d. All the Fall records. </font></p>

In [85]:
cur.execute("SELECT * FROM Weather WHERE Season = 'Fall';")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

<p><font color = red>e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters. </font></p>

In [86]:
cur.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400;")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

<p><font color = red>f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. </font></p>

In [87]:
cur.execute(''' SELECT City, Country 
FROM Weather 
WHERE Season = 'Fall' AND Temperature > 20 
ORDER BY Temperature ASC; ''')
for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

<p><font color = red>g. The total annual rainfall for Cairo. </font></p>

In [88]:
cur.execute(''' SELECT SUM(Rainfall) AS Total_Annual_Rainfall 
FROM Weather 
WHERE City = 'Cairo';''')
for record in cur:
    print(record)

(27.6,)

<p><font color = red>h. The total rainfall for each season.</font></p>

In [89]:
cur.execute(''' SELECT Season, SUM(Rainfall) AS Total_Rainfall 
FROM Weather 
GROUP BY Season;''')
for record in cur:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

<h4><font color = red>Question 9:</font></h4>
<p><font color = red>Suppose list words is defined as follows: words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
Write list comprehension expressions that use list words and generate the following lists: </font></p>

<p><font color = red>a. ['THE',  'QUICK',  'BROWN',  'FOX',  'JUMPS',  'OVER',  'THE', 'LAZY',  'DOG'] </font></p>

In [6]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
a = [word.upper() for word in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<p><font color = red>b. ['the',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog']</font></p>

In [7]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
b = [word.lower() for word in words]
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<p><font color = red>c. [3,  5,  5,  3,  5,  4,  3,  4,  3] (the list of lengths of words in list words). </font></p>

In [8]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
c = [len(word) for word in words]
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<p><font color = red>d. [['THE',  'the',  3],  ['QUICK',  'quick',  5],  ['BROWN', 'brown',  5],  ['FOX',  'fox',  3], ['JUMPS',  'jumps',  5], ['OVER',  'over',  4],  ['THE',  'the',  3],  ['LAZY',  'lazy', 4],  ['DOG',  'dog',  3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) </font></p>

In [9]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
d = [[word.upper(), word.lower(), len(word)] for word in words]
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

<p><font color = red>e.  ['The',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 'lazy',  'dog'] (the list of words in list words containing 4 or more characters.) </font></p>

In [10]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 
e = [word for word in words if len(word) >= 4]
e

['quick', 'brown', 'jumps', 'over', 'lazy']